body {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
}

.navbar {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-size: 77%;
    font-style: normal;
    font-variant: normal;
    background-color: #66AFBB;
    padding-top: 0;
    padding-bottom: 0;
    
}

@media screen and (max-width:990px) {
    .navbar {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .nav-item {
        display: block;
        margin: auto;
    }
}

.navbar-nav .dropdown-menu {
    position: static;
    float: left;
}


.navbar-loggedin {
    background-color: rgba(0, 0, 0, 0.040);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.mr-0 {
    margin-right: 0;
}
.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
.form-control-dark {
    color: #ffff;
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.25);
}
.form-control-dark::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}
.form-control.outer {
    padding: 0;
    background-color: transparent;
}
.form-control.inner {
    padding: 0;
    
}
.search-bar {
    background-color: rgba(253, 253, 253, 0.342);
    
}



.sign-out {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}


.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 60px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.875rem;
}
.afterlog-item {
    margin-top: 0.3rem;
}
.sidebar .nav-link.active {
    color: rgb(88, 164, 175);
}
.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}
.sidebar .afterlog-link {
    font-weight: 500;
    color: #5c5c5c;
}
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
.sidenav .navbar-toggler {
    top: .25rem;
    right: 1rem;
}



.beforelog-link {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
    width: 95px;
}

.beforelog-item {
    width: 95px;
    display: inline;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 8px;
    padding-right: 12px;
    text-align: center;
}

.dropdown-item {
    font-size: 75%;
    text-decoration-color: #66afbb;
}

.navbar-collapse {
    margin: 1% 0 1% 1%;
}




.background-img {
    width:100%;
    position: absolute;
    z-index: 0;
}

.big-logo {
    position: relative;
    margin-top: 10%;
    margin-left: 33%;
    
}

body {
    background-color: #5c5c5c;
}

.heading {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    color: white;
}

h1 {
    font-size: 2.5vw;
}

.tagline {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 3.5%;
    margin-bottom: 1.5%;
}

h2 {
    font-size: 1.9vw;
}

.tagline2 {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

.svg-inline--fa.fa-w-14 {
    position: relative;
    width: 100%;
    height: 2.5rem;
    margin-top: 3%;
    margin-bottom: 1.5%;
}

@media (min-width:415px) and (max-width:769px) {
    .background-img {
        width:100%;
        position: absolute;
        z-index: 0;
        top: 8%;
    }
    .big-logo {
        position: relative;
        margin-top: 17%;
        margin-left: 33%;
    }
    .tagline {
        position: relative;
        display: block;
        text-align: center;
        margin-top: 3.5%;
        margin-bottom: 1%;
    }
    .svg-inline--fa.fa-w-14 {
        position: relative;
        width: 100%;
        height: 2rem;
        margin-top: 2%;
        margin-bottom: 0;
    }
}

@media screen and (max-width:414px) {
    .background-img {
        width:100%;
        position: absolute;
        z-index: 0;
        top: 7%;
    }
    .big-logo {
        position: relative;
        margin-top: 20%;
        margin-left: 33%;
    }
    .tagline {
        position: relative;
        display: block;
        text-align: center;
        margin-top: 2.5%;
        margin-bottom: 1%;
    }
    .svg-inline--fa.fa-w-14 {
        position: relative;
        width: 100%;
        height: 1rem;
        margin-top: 1%;
        margin-bottom: 0;
    }
}




.white-component {
    position: relative;
    width: 100.4%;
    right: 0.4%;
    
}

.white-container {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    background-color: white;
    text-align: center;
    position: relative;
    top: -10px;
}

.description {
    background-color: white;
    display: inline-block;
    justify-content: center;
    margin-bottom: 7%;
    width: 31%;
    font-size: 1.5vw;
    color: #5c5c5c;
    line-height: 2.2vw;
}

.title {
    font-size: 1.8vw;
    color: #66AFBB;
    text-decoration: underline;
    letter-spacing: 0.4vw;
}

.tutee {
    color: #66AFBB;
}

.why {
    margin-top: 2%;
    margin-bottom: 5%;
    color: #5c5c5c;
}

.card-deck {
    margin: auto;
    padding-left: 6%;
    padding-right: 6%;
}

.card.card-main {
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: transparent;
    background-color: transparent;
}

.rate {
    margin-left: 0px;
}

.card-img-top {
    width: 100px;
    margin: auto;
}

.card-title {
    color: #66AFBB;
    font-size: 1.8vw;
    margin-top: 4%;
    margin-bottom: 13%;
    padding-left: 10%;
    padding-right: 10%;
}

.card-text {
    font-size: 1.3vw;
    padding-right: 4%;
    padding-left: 4%;
    line-height: 2vw;
    color: #5c5c5c;
}

@media screen and (max-width:575px) {
    .why {
        margin-top: 2%;
        margin-bottom: 5%;
        color: #5c5c5c;
        font-size: 5vw;
        padding-left: 15%;
        padding-right: 15%;
    }
    .card-deck {
        margin: auto;
        padding-top: 2%;
        padding-left: 6%;
        padding-right: 6%;
    }
    .subtitle {
        font-size: 4vw;
        margin-bottom: 3%;
    }
    .card-text {
        font-size: 2vw;
        padding-right: 10%;
        padding-left: 10%;
        line-height: 3.5vw;
        color: #5c5c5c;
    }
}



.blue-component {
    position: relative;
    width: 100.4%;
    right: 0.4%;
    background-color: white;
    top: -11px;
}

.blue-container {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    background-color: #84C4CE;
    text-align: center;
    position: relative;
    top: -50px;
    padding-bottom: 10%;
}

.tutor {
    color: white;
}

.tutorcard {
    color: white;
}

@media screen and (max-width:575px) {
    .blue-component {
        position: relative;
        width: 100.4%;
        right: 0.4%;
        background-color: white;
        top: -26px;
    }
    .tutorcard {
        font-size: 4vw;
        margin-bottom: 3%;
    }
}



.carousel {
    background-color:white;
    position: relative;
    bottom: 50px;
    padding-top: 5%;
    padding-bottom: 10%;
}

.carousel-item {
    height: 400px;
}

.pict {
    text-align: center;
    margin: 3% auto 0;
}

.carousel-caption {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    color: #66AFBB;
    bottom: 0;
}

.carousel-control-prev {
    color: #66AFBB;
}

.capt-text {
    color: #5c5c5c
}

@media screen and (max-width:575px) {
    .carousel {
        background-color:white;
        position: relative;
        bottom: 50px;
        padding-top: 5%;
    }
    .pict {
        text-align: center;
        margin: 10% auto 0;
        height: 100px;
        width: 100px;
    }
    .carousel-caption {
        font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
        font-style: normal;
        font-variant: normal;
        color: #66AFBB;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 8%;
    }
    .capt-title {
        font-size: 4vw;
    }
    .capt-text {
        font-size: 2vw;
        color: #5c5c5c
    }
}


.mods-list {
    background-color: #f8f8f8;
    padding: 10%;
}
@media (min-width: 600px) and (max-width: 990px) {
    .active-link {
        font-size: 0.9rem;
    }
    .link-tab {
        color: #555555;
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 599px) {
    
    .active-link {
        font-size: 0.6rem;
    }
    .link-tab {
        color: #555555;
        font-size: 0.6rem;
    }
    .table-title {
        font-size: 3vw;
    }
    .table-content {
        border-top: 1px;
        color: black;
        font-size: 3vw;
    }
}
.mods-tabs {
    border-bottom: 1px solid #ddd;
}
.mods-tabs>li {
    margin-bottom: -1px;
}
.mods-tabs>.active>a, .mods-tabs>.active>a:hover, .mods-tabs>.active>a:focus {
    color: #66AFBB;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.mods-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.mods-tabs>li>a, .nav-pills>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav>li>a {
    display: block;
}
.link-tab {
    color: #555555;
}
.link-tab:hover {
    color: #66AFBB;
}
.card.tab-content {
    background-color: white;
    padding: 5%;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.table-content {
    border-top: 1px;
    color: black;
}



.footer {
    padding: 5% 5% 5% 5%;
}

.footer-item {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 0.8rem;
    color: #66AFBB;
    line-height: 2.5;
}

.footer-info {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 0.8rem;
    color: white;
    line-height: 2.5;
}




.joinus-page {
    background-color:#f8f8f8;
    padding-top: 10%;
    padding-bottom: 15%;
}
.joinus-title {
    font-size: 2rem;
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    color: black;
    display: block;
    text-align: center;
    padding-bottom: 3%;
}
.signupform {
    padding: 5% 15% 5% 15%;
}

label {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    color: #66AFBB;
}

.btn.signup {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    margin-top: 5%;
    margin-left: 89%;
}

@media screen and (max-width:1126px) {
    .btn.signup {
        margin-top: 5%;
        margin-left:0;
    }
}



.login-form {
    padding: 0 35% 5% 35%;
}
.login-form input[type="username"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.login-form input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}
.email-input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#inputLoginPass {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.login-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.login-form #inputPassword {
    margin-bottom: -1px;
    border-radius: 0;
}
.login-form #inputConfirmPassword {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.rememberme {
    padding-top: 5%;
}
@media (max-width: 780px) {
    .login-form {
        padding: 8% 25% 5% 25%;
    }
}




.dashboard {
    background-color: white;
    padding: 5% 10% 10% 10%;
}
.welcome-title {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin: 1% auto 5%;
    
}
.col-left {
    padding-left: 0;
}
.col-right {
    padding-right: 0;
}


.tutor-registration {
    background-color: white;
    padding: 8% 10% 10% 10%;
}
.tutor-reg {
    margin-top: 3%;
    margin-bottom: 2%;
}
.hide-div {
    display: none;
}
.page-title {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #333333;
    display: inline-block;
}
.modcode-row {
    padding-top: 2%;
}
.module-code {
    font-family: 'Nunito', sans-serif;
    margin-top: 5%;
}
.mod-regis-btn {
    margin-top: 2%;
}
#inputModuleCode {
    width: 75%;
}
#ul-regmod {
    padding-inline-start: 0;
}
/* Style the list items */
.mod-reg-ul .mod-reg-li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
}
/* Add a light grey background color on hover */
.mod-reg-ul .mod-reg-li:hover {
    background-color: #66AFBB;
    color: white;
}
/* Style the close button (span) */
.delete-mod {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}
.delete-mod:hover {background: #bbb;}

#inputFee {
    width: 70%;
}
.fee-offered {
    margin-bottom: 5%;
}
.small-note-fee {
    display: block;
    margin-bottom: 2%;
}
.deactivate-acc {
    margin-top: 5%;
    color: red;
}
.deactivate-sm {
    display: block;
    margin-bottom: 2%;
}
.deactivate-btn:hover {
    color: black;
}



.profile-title {
    font-family: 'Nunito', sans-serif;
    color: #66AFBB;
    margin-bottom: 2%;
    margin-top: 0;
}
.profpict {
    width: 100%;
    margin-top: 5%;
    display: inline;
}
ul {
    list-style-type: none;
}
.right-profile {
    padding-left: 3%;
    padding-right: 3%;
}
.name-dashboard {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 2.2rem;
}
.smallIcon {
    width: 3%;
    margin-right: 0.3%;
    display: inline;
}
.smallInfo {
    display: inline;
    margin-right: 3%;
    font-size: 0.8rem;
}
.biography {
    margin-top: 2%;
}
@media (max-width:575px) {
    .avatar-col {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }
    .name-dashboard {
        font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-size: 2.2rem;
        text-align: center;
    }
    .info-row {
        text-align: center;
    }
}


.modules-left {
    padding-right: 5%;
}
.modules-right {
    padding-left: 5%;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
h4 {
    font-family: 'Nunito', sans-serif;
    color: #66AFBB;
    margin-top: 5%;
    margin-bottom: 5%;
}

.table {
    background-color: white;
    border-radius: 10px;
}
/* .table th {
    border-top: none;
}
th {
    color: #66AFBB;
    text-align: center;
}
td {
    color: #66AFBB;
    text-align: center;
} */



.editprofile {
    padding: 10% 12% 15% 12%;
    background-color: white;
}
.editprofile-title {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5vw;
    color: #5c5c5c;
    padding-bottom: 5%;
    
}
.profile-pic {
    color: #999;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.save-btn {
    margin-top: 5%;
    font-size: 0.9rem;
}

.manage-title {
    color: #66AFBB;
    margin-top: 5%;
    margin-bottom: 2%;
}
#password-title {
    color: black;
}



.search-title {
    color:white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    font-size: 1.5vw;
}
.search-card {
    background-color: #66AFBB;
}
.fac-drop {
    font-size: 1.2vw;
}


.tutor-card {
    max-width: 900px;
}
.tutor-name {
    color: #66AFBB;
}
.card.tutor-card {
    border-color: #5c5c5c;
}
.tutor-img {
    width: 75%;
    margin: 15% 5% 10% 15%;
}
.pricetag {
    color: #66AFBB;
    padding-top: 15%;
}


.card.profile {
    margin-bottom: 5%;

}


.tutorlist-title {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 5%;
    font-size: 3vw;
}
.highlighted {
    color: #66AFBB;
}
.tutlist-modcode {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 3%;
    margin-top: 0.5%;
    color: black;
}
.modcode-title {
    color: #66AFBB;
}

.mods-pg.col-lg-10 {
    padding-left: 0;
    padding-right: 0;
}


.modal-header {
    background-color: #66b0bbe5;
}
.modal-title {
    color: white;
}
.modal-body {
    margin-bottom: 5%;
    margin-right: 5%;
}


.error-page {
    background-color: white;
}

.tutor-profile {
    background-color: white;
    padding: 8% 10% 10% 12%;
}

.profile-header {
    font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 1.1rem;
    margin-top: 4%;
    color: #66AFBB;
}

.mods-pg.profile-pg {
    
}
.card-body.comments-card {
    padding: 0;
}

.comments-title {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    color: #66AFBB;
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 2rem;
}
.profpict-sm {
    width: 100%;
    margin: 1.25rem;
    display: inline;
}
.name-comment {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-size: 1rem;
    display: inline;
    padding-bottom: 3%;
}
.date-comment {
    margin-left: 2%;
}
.comments-div {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}
/* .my-comment {
    padding-right: 2rem;
} */
.comment-box {
    width: 100%;
}
.post-btn {
    margin: 1.25rem;
}
.my-comment {
    margin-left: 5%;
    margin-right: 5%;
}


/* .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
} */
  